.cbgc4-1 {
  background-color: #2a5dca;
}
.cbgc4-2 {
  background-color: #6c96f2;
}
.cbgc4-3 {
  background-color: #d2e1ff;
}
.cbgc4-4 {
  background-color: #113074;
}
.cbgc4-5 {
  background-color: #1d2d51;
}
.cbgc4-6 {
  background-color: #1a202e;
}
