.cbgc2-1 {
  background-color: #e1232f;
}
.cbgc2-2 {
  background-color: #f8a7ad;
}
.cbgc2-3 {
  background-color: #80040c;
}
.cbgc2-4 {
  background-color: #700b12;
}
.cbgc2-5 {
  background-color: #ffe8e9;
}
.cbgc2-6 {
  background-color: #5d383b;
}
