.cbgc1-1 {
  background-color: #2a5dca;
}
.cbgc1-2 {
  background-color: #6c96f2;
}
.cbgc1-3 {
  background-color: #d2e1ff;
}
.cbgc1-4 {
  background-color: #113074;
}
.cbgc1-5 {
  background-color: #1d2d51;
}
.cbgc1-6 {
  background-color: #1a202e;
}
