.cbgc3-1 {
  background-color: #2a5dca;
}
.cbgc3-2 {
  background-color: #6c96f2;
}
.cbgc3-3 {
  background-color: #d2e1ff;
}
.cbgc3-4 {
  background-color: #113074;
}
.cbgc3-5 {
  background-color: #1d2d51;
}
.cbgc3-6 {
  background-color: #1a202e;
}
