.btn1,
.btn2,
.btn3,
.btn4,
.btn5,
.btn6,
.btn7,
.btn8 {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
}

/* Gradient background colors */
.btn1 {
  transition: 0.3s;
  background-image: linear-gradient(45deg, #f47272, #2b2996);
}

.btn2 {
  transition: 0.3s;
  background-image: linear-gradient(45deg, #ff9277, #c53030);
}

.btn3 {
  transition: 0.3s;
  background-image: linear-gradient(45deg, #d34c4c, #4a59e3);
}

.btn4 {
  transition: 0.3s;
  background-image: linear-gradient(45deg, #3763ca, #4ea7ff);
}

.btn5 {
  transition: 0.3s;
  background-image: linear-gradient(45deg, #2e368f, #7ec0fa);
}

.btn6 {
  transition: 0.3s;
  background-image: linear-gradient(45deg, #acb3ff, #c3404f);
}

.btn7 {
  transition: 0.3s;
  background-image: linear-gradient(45deg, #e3ffb6, #56731d);
}

.btn8 {
  transition: 0.3s;
  background-image: linear-gradient(45deg, #f8a846, #f2584d);
}

/* Hover effect */
.btn1:hover,
.btn2:hover,
.btn3:hover,
.btn4:hover,
.btn5:hover,
.btn6:hover,
.btn7:hover,
.btn8:hover {
  background: #6f63a0d0 !important;
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Active effect */
.btn1:active,
.btn2:active,
.btn3:active,
.btn4:active,
.btn5:active,
.btn6:active,
.btn7:active,
.btn8:active {
  box-shadow: none;
  transition: 0.3s;
  background: #b2acf1cb !important;
}
