.heading1 {
    font-size: 36px;
    font-weight: bold;
}

.heading2 {
    font-size: 30px;
    font-weight: bold;
}

.heading3 {
    font-size: 24px;
    font-weight: bold;
}

.heading4 {
    font-size: 20px;
    font-weight: bold;
}

.heading5 {
    font-size: 18px;
    font-weight: bold;
}