/* Hover 1 */
.hover1:hover {
  background-color: #a14141;
  transition: 0.2s ease-in-out;
}

/* Hover 2 */
.hover2:hover {
  background-color: #b23d3d;
  transition: 0.2s ease-in-out;
}

/* Hover 3 */
.hover3:hover {
  background-color: #5e6ce3;
  transition: 0.2s ease-in-out;
}

/* Hover 4 */
.hover4:hover {
  background-color: #5f8ae3;
  transition: 0.2s ease-in-out;
}

/* Hover 5 */
.hover5:hover {
  background-color: #4b57c3;
  transition: 0.2s ease-in-out;
}

/* Hover 6 */
.hover6:hover {
  background-color: #e08e8e;
  transition: 0.2s ease-in-out;
}

/* Hover 7 */
.hover7:hover {
  background-color: #89b569;
  transition: 0.2s ease-in-out;
}

/* Hover 8 */
.hover8:hover {
  background-color: #f5b67e;
  transition: 0.2s ease-in-out;
}
