.lh1 {
    line-height: 1;
}

.lh1-5 {
    line-height: 1.5;
}

.lh2 {
    line-height: 2;
}

.lh2-5 {
    line-height: 2.5;
}

.lh3 {
    line-height: 3;
}

.lh3-5 {
    line-height: 3.5;
}

.lh4 {
    line-height: 4;
}

.lh4-5 {
    line-height: 4.5;
}

.lh5 {
    line-height: 5;
}