// White -----------------
.opacity-white1 {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.opacity-white2 {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
.opacity-white3 {
  background-color: rgba(255, 255, 255, 0.3) !important;
}
.opacity-white4 {
  background-color: rgba(255, 255, 255, 0.4) !important;
}
.opacity-white5 {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
.opacity-white6 {
  background-color: rgba(255, 255, 255, 0.6) !important;
}
.opacity-white7 {
  background-color: rgba(255, 255, 255, 0.7) !important;
}
.opacity-white8 {
  background-color: rgba(255, 255, 255, 0.8) !important;
}
.opacity-white9 {
  background-color: rgba(255, 255, 255, 0.9) !important;
}
.opacity-white10 {
  background-color: rgba(255, 255, 255, 1) !important;
}
// Black ----------------
.opacity-black1 {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.opacity-black2 {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.opacity-black3 {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.opacity-black4 {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.opacity-black5 {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.opacity-black6 {
  background-color: rgba(0, 0, 0, 0.6) !important;
}
.opacity-black7 {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
.opacity-black8 {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.opacity-black9 {
  background-color: rgba(0, 0, 0, 0.9) !important;
}
.opacity-black10 {
  background-color: rgb(0, 0, 0) !important;
}
